
<div class="container containerCreate">
       <h2>Crear Asambleista</h2>
        <form >
            <div class="form-group">
                <label>Cedula:</label>
                <input class="form-control" id="id_asam" placeholder="Ingrese la cedula del asambleista" name="cedula_asam"><br>
                <label>Nombre:</label>
                <input class="form-control" id="name_asam" placeholder="Ingrese el nombre del asambleista" name="nombre_asam"><br>
                <label>Apellido:</label>
                <input class="form-control" id="last_asam" placeholder="Ingrese el apellido del asambleista" name="apellido_asam"><br>
                <label>Edad:</label>
                <input class="form-control" id="age_asam" placeholder="Ingrese la edad del asambleista" name="edad_asam"><br>
               
            </div>
            
            <input type="button" class="btn btn-default" id="create_asamb" value="Crear Asambleista" onclick="guardarAsambleista()">
            <input type="button" class="btn btn-default" onclick="ocultarCreate()" value="Cancelar :(">
          </form>
    </div>
